/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.clearfix {
    overflow: auto;
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.clock-container {
    background-color: black;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.clock {
    height: 7rem;
    width: 24rem;
    position: relative;
    background-color: black;
    margin-left: 16.666% !important;
}

.segment {
    position: absolute;
    height: 1rem;
    width: 1rem;
}

/** 
Digit 1
**/
.segment:nth-child(1) {
    top: 2rem;
    left: 0;
}

.segment:nth-child(2) {
    top: 1rem;
    left: 0;
}

.segment:nth-child(3) {
    top: 0;
    left: 1rem;
}

.segment:nth-child(4) {
    top: 0;
    left: 2rem;
}

.segment:nth-child(5) {
    top: 1rem;
    left: 3rem;
}
.segment:nth-child(6) {
    top: 2rem;
    left: 3rem;
}

.segment:nth-child(7) {
    top: 3rem;
    left: 2rem;
}
.segment:nth-child(8) {
    top: 3rem;
    left: 1rem;
}

.segment:nth-child(9) {
    top: 4rem;
    left: 0;
}

.segment:nth-child(10) {
    top: 5rem;
    left: 0;
}

.segment:nth-child(11) {
    top: 6rem;
    left: 1rem;
}

.segment:nth-child(12) {
    top: 6rem;
    left: 2rem;
}

.segment:nth-child(13) {
    top: 5rem;
    left: 3rem;
}

.segment:nth-child(14) {
    top: 4rem;
    left: 3rem;
}

/** 
Digit 2
**/
.segment:nth-child(15) {
    top: 2rem;
    left: 5rem;
}

.segment:nth-child(16) {
    top: 1rem;
    left: 5rem;
}

.segment:nth-child(17) {
    top: 0;
    left: 6rem;
}

.segment:nth-child(18) {
    top: 0;
    left: 7rem;
}

.segment:nth-child(19) {
    top: 1rem;
    left: 8rem;
}
.segment:nth-child(20) {
    top: 2rem;
    left: 8rem;
}

.segment:nth-child(21) {
    top: 3rem;
    left: 7rem;
}
.segment:nth-child(22) {
    top: 3rem;
    left: 6rem;
}

.segment:nth-child(23) {
    top: 4rem;
    left: 5rem;
}

.segment:nth-child(24) {
    top: 5rem;
    left: 5rem;
}

.segment:nth-child(25) {
    top: 6rem;
    left: 6rem;
}

.segment:nth-child(26) {
    top: 6rem;
    left: 7rem;
}

.segment:nth-child(27) {
    top: 5rem;
    left: 8rem;
}

.segment:nth-child(28) {
    top: 4rem;
    left: 8rem;
}

/**
Separator
**/
.segment:nth-child(29) {
    top: 1.5rem;
    left: 12rem;
}
.segment:nth-child(30) {
    top: 4.5rem;
    left: 12rem;
}

/** 
Digit 3
**/
.segment:nth-child(31) {
    top: 2rem;
    left: 15rem;
}

.segment:nth-child(32) {
    top: 1rem;
    left: 15rem;
}

.segment:nth-child(33) {
    top: 0;
    left: 16rem;
}

.segment:nth-child(34) {
    top: 0;
    left: 17rem;
}

.segment:nth-child(35) {
    top: 1rem;
    left: 18rem;
}
.segment:nth-child(36) {
    top: 2rem;
    left: 18rem;
}

.segment:nth-child(37) {
    top: 3rem;
    left: 17rem;
}
.segment:nth-child(38) {
    top: 3rem;
    left: 16rem;
}

.segment:nth-child(39) {
    top: 4rem;
    left: 15rem;
}

.segment:nth-child(40) {
    top: 5rem;
    left: 15rem;
}

.segment:nth-child(41) {
    top: 6rem;
    left: 16rem;
}

.segment:nth-child(42) {
    top: 6rem;
    left: 17rem;
}

.segment:nth-child(43) {
    top: 5rem;
    left: 18rem;
}

.segment:nth-child(44) {
    top: 4rem;
    left: 18rem;
}

/** 
Digit 4
**/
.segment:nth-child(45) {
    top: 2rem;
    left: 20rem;
}

.segment:nth-child(46) {
    top: 1rem;
    left: 20rem;
}

.segment:nth-child(47) {
    top: 0;
    left: 21rem;
}

.segment:nth-child(48) {
    top: 0;
    left: 22rem;
}

.segment:nth-child(49) {
    top: 1rem;
    left: 23rem;
}
.segment:nth-child(50) {
    top: 2rem;
    left: 23rem;
}

.segment:nth-child(51) {
    top: 3rem;
    left: 22rem;
}
.segment:nth-child(52) {
    top: 3rem;
    left: 21rem;
}

.segment:nth-child(53) {
    top: 4rem;
    left: 20rem;
}

.segment:nth-child(54) {
    top: 5rem;
    left: 20rem;
}

.segment:nth-child(55) {
    top: 6rem;
    left: 21rem;
}

.segment:nth-child(56) {
    top: 6rem;
    left: 22rem;
}

.segment:nth-child(57) {
    top: 5rem;
    left: 23rem;
}

.segment:nth-child(58) {
    top: 4rem;
    left: 23rem;
}

.controls {
    margin-top: 1em;
}

.button-large {
    font-size: 2rem;
    height: 12rem;
    width: 15rem;
    line-height: 6rem;
    padding: 0 2.7rem;
}

.footer {
    margin-top: 6rem;
}

label, input {
    width: 100%
}
